<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      PerfectlySnug Demo App
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">PerfectlySnug Demo App</ion-title>
    </ion-toolbar>
  </ion-header>

  <!--<div id="container">
    <strong>Ready to create an app?</strong>
    <p>Start with Ionic <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">UI Components</a></p>
  </div>-->
  <div class="ion-padding">
      <ion-button (click)="startScanning()" expand="block">Scan QR Code</ion-button>
      <p *ngIf="qrText">QR Scan text: {{ qrText }}</p>
  </div>
  <ion-list>
    <ion-item> 
    <ion-label position="stacked">SSID</ion-label>
    <ion-input type="text" [(ngModel)]="SSID"></ion-input>
    </ion-item> 
    <ion-item>
    <ion-label position="stacked">Password</ion-label>
    <ion-input type="password" [(ngModel)]="password"></ion-input>
    </ion-item> 
  </ion-list> 
  <div padding=""> 
    <ion-button color="primary" expand="block" (click)="connectToWiFi()">Connect to WiFi</ion-button>
    <!--<ion-button color="primary" expand="block" (click)="openWithInAppBrowser()">Open Topper</ion-button>-->
    <p>Opening the Smart Topper's UI page (requires connecting to the Topper's Wifi first)</p>

    
    <ion-button color="primary" expand="block" (click)="launch()">Open Topper UI</ion-button>
      <!--<ion-button color="primary" expand="block" (click)="openWithSystemBrowser('http://10.201.93.2/index.html')">Open with System browser</ion-button>
      <ion-button color="primary" expand="block" (click)="openWithInAppBrowser('http://10.201.93.2/index.html')">Open with In App browser</ion-button>
      <ion-button color="primary" expand="block" (click)="openWithCordovaBrowser('http://10.201.93.2/index.html')">Open with Cordova browser</ion-button>-->

      <!--<button ion-button (click)="openWithSystemBrowser('http://10.201.93.2/index.html')">Open with System browser</button>
      <button ion-button (click)="openWithInAppBrowser('http://10.201.93.2/index.html')">Open with In App browser</button>
      <button ion-button (click)="openWithCordovaBrowser('http://10.201.93.2/index.html')">Open with Cordova browser</button>-->
  
  

    <!--<ion-button color="primary" expand="block" (click)="showAlert()">Basic Alert</ion-button> -->
  </div> 
</ion-content>
